/*-----------------------------------------------------------
    General Styles 
    -------------------------------------------------------------*/
    * {
      margin: 0;
      padding: 0;
    }

    html {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    *, *:before, *:after {
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }

    a {
      font-weight: 600;
      color: #314584;
      text-decoration: none;
      letter-spacing: 1px;
      position: relative;
    }

    a:focus,
    a:hover {
      color: #FF3946;
      text-decoration: none;
    }

    img {
      width: 500px;
      height: auto;
      padding-top: -10px; 
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
      color: #314584;
      font-weight: 600;
      letter-spacing: 1px;
    }
    :active,
    :focus {
      outline: none !important;
    }
    .dark-mode {
      background-color: #000;
      color: #fff;
    }

/*-----------------------------------------------------------
  Typography 
  ------------------------------------------------------------*/
  body {
    color: #314584;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    transition: opacity 1s;
    min-width: 330px;
  }
  h1,
  .h1 {
    font-size: 4.4rem;
    margin-bottom: 20px;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 50px;
  }
  .about h2 {
    margin-bottom: 25px;
  }
  h3,
  .h3 {
    font-size: 1.9rem;
    line-height: 2.5rem;
    margin-bottom: 15px;
  }
  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 1rem;
    color: #FF3946;
  }
  h6,
  .h6 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .about p {
    color: #314584;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #6E757A;
    margin-bottom: 15px;
    letter-spacing: 0.025em;
  }

/*-----------------------------------------------------------
  Buttons & Links
  -------------------------------------------------------------*/
  .hero-btns a:first-child {
    background-color: #FF3946;
    border:2px solid #FF3946;
    color: #fff;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(255,57,70,0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(255,57,70,0.15);
    box-shadow: 0px 4px 5px 0px rgba(255,57,70,0.15);
  }
  .hero-btns a:first-child:hover {
    background-color: #fff;
    border:2px solid #FF3946;
    color: #314584;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  .hero-btns a:last-child {
    color: #314584;
    padding: 17px 35px;
    font-size: 1.0rem;
  }
  button:last-child:hover {
    color: #FF3946;
    transition: all 0.3s ease;
  }
  button:first-child {
    background-color: #FF3946;
    border:2px solid #FF3946;
    color: #fff;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(255,57,70,0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(255,57,70,0.15);
    box-shadow: 0px 4px 5px 0px rgba(255,57,70,0.15);
  }
  button:first-child:hover {
    background-color: #fff;
    border:2px solid #FF3946;
    color: #314584;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  button:last-child {
    color: #fff;
    font-size: 1.0rem;
    margin: 10px;
  }
  button:last-child:hover {
    color: #FF3946;
    transition: all 0.3s ease;
  }
  .navbar-light .navbar-toggler {
    color: #314584;
    border: none;
  }
  .navbar-toggler {
    padding: .5rem 1.2rem .25rem 0rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .interactive-menu-button {
    position: relative;
  }
  .interactive-menu-button a {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
  }
  .interactive-menu-button a span {
    height: 4px;
    position: absolute;
    background: #314584;
    text-indent: -999em;
    width: 100%;
    top: 6px;
    transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
  }
  .interactive-menu-button a span:before,
  .interactive-menu-button a span:after {
    content: '';
    height: 4px;
    background: #314584;
    width: 100%;
    position: absolute;
    top: -6px;
    left: 0;
    transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
  }
  .interactive-menu-button a span:after {
    top: 6px;
  }
  .interactive-menu-button a.active span {
    background: transparent;
  }
  .interactive-menu-button a.active span:before {
    transform: translateY(6px) translateX(1px) rotate(45deg);
  }
  .interactive-menu-button a.active span:after {
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
  }

/*-----------------------------------------------------------
  Header
  -------------------------------------------------------------*/
  nav {
    position: fixed;
    top: 0;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #314584;
    font-size: 1.4rem;
    margin-top: -35px;
    padding-left: 20px;
  }
  .navbar {
    padding: 30px 10px 0 0;
  }
  .navbar-light .navbar-brand {
    margin-right: 10%;
  }
  .nav-item {
    padding: 0 10px;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FF3946;
  }
  .hero img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -9;
    margin-top: 30px;
    width: 65%;
    padding-top: 50px;
  }
  .hero h1 {
    margin-top: 250px;
  }
  .hero p {
    margin-bottom: 50px;
  }

/*-----------------------------------------------------------
  Quotes
  -------------------------------------------------------------*/
  .quotes {
    padding-top: 50px;
  }
  #quoteDisplay {
    font-size: 2.5rem;
    line-height: 1.8;
    color: #FF3946;
    padding: 20px;
    letter-spacing: 0.025em;
  }

/*-----------------------------------------------------------
  About Me
  -------------------------------------------------------------*/
  .about-me {
    padding: 50px 0px;
  }
  .about-me p {
    font-size: 1.0rem;
    color: #314584;
    line-height: 1.5rem;
  }
  .about-me-box {
    background-color: #fff;
    padding: 50px;
    margin: 20px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(28,31,33,0.15);
    -moz-box-shadow: 0px 3px 7px 0px rgba(28,31,33,0.15);
    box-shadow: 0px 3px 7px 0px rgba(28,31,33,0.5);
    min-height: 200px;
  }

  .about-me-img {
    width: 400px;
    padding-top: -100px;
  }

/*-----------------------------------------------------------
  Footer
  -------------------------------------------------------------*/
  footer {
    background-color: #0A325C;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  footer h6 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
  }

/*-----------------------------------------------------------
  Responsive
  -------------------------------------------------------------*/
  @media (max-width: 1700px) {
    .hero-btns {
      margin-bottom: 200px;
    }
  }

  @media (max-width: 1500px) {
    .hero img {
      margin-top: 130px;
    }
  }

  @media (max-width: 1350px) {
    .hero-btns {
      margin-bottom: 140px;
    }
  }

  @media (max-width: 1199px) {
    .nav-item {
      padding: 0px; 
    }
    .navbar-light .navbar-nav .nav-link {
      font-size: 1rem;
    }
    .hero h1 {
      margin-top: 150px;
    }
    h2 {
      font-size: 2rem;
      line-height: 3.0rem;
    }
    h3 {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 20px;
    }
    .services p {
      font-size: 0.8rem;
    }
    .hero-btns {
      margin-bottom: 120px;
    }
  }

  @media (max-width: 991px) {
    .navbar {
      padding: 15px 0 0 0;
    }
    .hero img {
      display: none;
    }
    .hero {
      text-align: center;
    }
    .hero h1 {
      margin-top: 80px;
    }
    .navbar-collapse {
      text-align: center;
      margin-top: 50px;
    }
    .navbar-light .navbar-nav .nav-link {
      font-size: 2rem;
    }
    .hero-btns {
      margin-bottom: 70px;
    }
    .about img {
      margin-bottom: 70px;
    }
    .about {
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    .hero h1 {
      font-size: 3.5rem;
    }
    .about-me-box {
      padding: 20px 25px;
      margin: 0px;
    }
    .contact-nav a {
      font-size: 1rem;
      padding: 20px 5px;
    }
  }

  @media (max-width: 575px) {
    .about-me-box {
      padding: 20px 25px;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    footer h3{
      font-size: 2.5rem;
    }
  }

  @media (max-width: 454px) {
    .hero h1 {
      font-size: 3.0rem;
      margin-top: 50px;
    }
    .hero p {
      font-size: 0.8rem;
    }
    .hero-btns a:first-child {
      font-size: 0.8rem;
      display: block;
      width: 70%;
      margin: 0 auto;
    }
    .hero-btns a:last-child {
      font-size: 0.8rem;
      display: block;
      width: 70%;
      margin: 0 auto;
    }
    footer h3{
      line-height: 2.6rem;
    }
  }

